<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <%- flash.each do |name, msg| -%>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <strong>
              <% if name=="danger" %> Error!
              <% elsif name=="success" %> Success!
              <% elsif name=="info" %> Info!
              <% end %> </strong>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
      <%- end -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1 col-xs-12" style="color: #DADADA;">
      <div class="row">
        <div class="col-md-12 col-xs-6">
          <div class="panel panel-default" style="padding:0;overflow: hidden">
            <div class="panel-body" style="padding:0;overflow: hidden">
              <div class="row">
                <div class="col-md-12 text-center">
                  <%= image_tag(@user.avatar.url, :class => 'img img-responsive', :style => 'width:100%;border-bottom-right-radius: 0;border:0') if @user.avatar? %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-6">
          <div class="panel panel-default" style="padding:0; border-left:3px solid #000;background-color: #313131;border-color: #111">
            <div class="panel-body" style="padding:0;overflow: hidden">
              <div class="row text-center" style="color:#ccc;padding-top:5px;padding-bottom:5px;background-color: #212121;margin-bottom:20px;">
                <h4><%= @user.name %></h4>
              </div>
              <div class="text-center col-xs-4">
                <h5><b>Posts</b></h5>
                <i><h3><%= @user.posts.count %> </h3></i>
              </div>

              <div class="text-center col-xs-4">
                <h5><b>Likes</b></h5>
                <i><h3><%= Like.where(user_id: @user.id).count %> </h3></i>
              </div>

              <div class="text-center col-xs-4">
                <h5><b>Age</b></h5>
                <i><h3><%= @user.age %> </h3></i>
              </div>

              <div class="text-center col-xs-12" style="margin-bottom: 20px;">
                <p><%= @user.email %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-xs-12">
      <%= render 'layouts/components/send_post_form' %>
      <%#= render 'layouts/components/slider' %>
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 0;border: 0px;">
          <h3 class="panel-title">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#latest" aria-controls="latest" role="tab" data-toggle="tab" style="border-top: 0px; border-left: 0px; border-radius: 0; border-top-left-radius: 5px;">Posts
                  <span class="glyphicon glyphicon-list"></span> </a>
              </li>
            </ul>
          </h3>
        </div>
        <div class="panel-body">
          <br>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="latest"><%= render partial: 'layouts/components/posts',locals: {posts: @user.posts.order(id: :desc)} %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>