<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%- flash.each do |name, msg| -%>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <strong>
              <% if name=="danger" %> Error!
              <% elsif name=="success" %> Success!
              <% elsif name=="info" %> Info!
              <% end %> </strong>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
      <%- end -%>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <% if @current_user.nil? %>
          <%= render 'layouts/components/signup_form' %>
      <% else %>
          <div class="panel panel-default">
            <div class="panel-body">
          <%= render 'layouts/components/send_post_form' %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-7">
      <%#= render 'layouts/components/slider' %>
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 0;border: 0px;">
          <h3 class="panel-title">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#trend" aria-controls="trend" role="tab" data-toggle="tab" style="border-top: 0px; border-left: 0px; border-radius: 0; border-top-left-radius: 5px;">Trend
                  <span class="glyphicon glyphicon-fire"></span> </a>
              </li>
              <li role="presentation">
                <a href="#latest" aria-controls="latest" role="tab" data-toggle="tab" style="border-top: 0px; border-radius: 0;">Latest
                  <span class="glyphicon glyphicon-eye-open"></span></a>
              </li>
              <li role="presentation">
                <a href="#mostliked" aria-controls="mostliked" role="tab" data-toggle="tab" style="border-top: 0px; border-radius: 0;">Most
                  Liked <span class="glyphicon glyphicon-heart"></span></a></li>
            </ul>
          </h3>
        </div>
        <div class="panel-body">
          <br>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="trend"><%= render 'layouts/components/posts' %></div>
            <div role="tabpanel" class="tab-pane fade" id="latest"><%= render 'layouts/components/posts' %></div>
            <div role="tabpanel" class="tab-pane fade" id="mostliked"><%= render 'layouts/components/posts' %></div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
<div class="row">

</div>
</div>