<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo.png", :class => "c-img-logo") %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if @current_user %>
          <li><a href="<%= root_url %>"><span class="glyphicon glyphicon-home" style="font-size:20px;"></span> Home
            <span class="sr-only">(current)</span></a></li>

              <li><a href="<%=users_url%>/<%=@current_user.id%>"><span class="glyphicon glyphicon-user" style="font-size:20px;"></span> Profile</a></li>
          <% end %>
          <%# <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>%>
        </ul>
        <% if @current_user %>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search any topic">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <% end %>

        <% if @current_user %>
            <div class="navbar-right">
              <p class="navbar-text">Signed in as <b><%= @current_user.name %></b></p>
              <a href="<%= logout_path %>" type="button" class="btn btn-primary navbar-btn">Log out</a>
            </div>
        <% else %>
            <%= form_for(:session, :url => signin_path, :html => {:class => 'form-inline navbar-form navbar-right', :method => 'POST'}) do |f| %>
                <%= f.email_field :email, class: 'form-control', placeholder: "E-mail" %>
                <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                <%= button_tag(:class => 'btn btn-primary') do %>
                    Log in <span class="glyphicon glyphicon-user"></span>
                <% end %>


            <% end %>

        <% end %>



        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>